body{
    background-color: #333;
    margin: 0;
}
.form-sign-in__form-title{
    text-align: center;
    margin: .15em;
    background-color: hsl(120 45% 55%);
}
.form-sign-in{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    max-height: 50vh;
    overflow: auto;
    /* background-color: aqua; */
    background-color: #3329;
}
.form-sign-in__label-input{ 
    margin-bottom: .35em;
    /* max-width: 10.9375em; */
    /* max-width: 4em; */
    overflow: auto;
}
.form-fieldset__checkbox-works{
    display: inline;
}
.form-sign-in__div-works{
    width: 98%;
    background-color: hsl(160 68% 50%);
    outline: .25em solid hsl(210 68% 50%);
    outline-offset: -.06em;
    margin-bottom: .8em;
}
.textarea__other{
    width: 95%;
}
.form-sign-in__buttom-send{
    font-size: 1.7em;
    float: right;
}